body {
margin:0;
  /* font: 10px sans-serif; */
  }
*{
  box-sizing: border-box;


  font-family: 'Roboto', sans-serif;


}  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  .label-text{
    font-size: 13px;
    /* padding: 8px; */
  }
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .line-hov:hover, .label-text:hover{
    cursor:pointer;
  }

  .left-bar{
    position: fixed;
    left:0;
    width: 270px;
    height: 100%;
    padding: 15px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
    background: whitesmoke;
  }

  #chart{
    width: calc(100% - 150px);
    position: fixed;
    left:270px;
    top:0;
  }

  #saved > *{
    cursor: pointer;
    color:rgba(0,0,0,.7);
  }